<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300" rel="stylesheet">
    
</head>
<body>
    <div class="header">
        <button class="header_block logo"><img src="../static/img/image 58logo.png" alt=""></button>
        <button class="header_block mobile-menu"><img src="../static/img/Group 3656m-menu.svg" alt=""></button>
        <form action="/iitu_site/templates/index.html"  >
        <button class="header_block">Главная</button> 
        </form>
        <button class="header_block">О нас</button>
        <div class="dropdown header_block">
            <button class=" mainmenubtn header_block">Поступающим</button>
            <div class="dropdown-child">
                <div class="grid">
                    <div class="dropdown-left dropdown-element">
                        <a class="left-mainmenubtn">Бакалавриат</a>
                        <div class="dropdown-left-child" >
                            <div class="grid">
                                <div class="dropdown-left2 dropdown-element ">
                                    <a class="mainmenubtn">Куда можно поступить ?</a>
                                    <div class="dropdown-left2-child" >
                                        <div class="grid">
                                            <a class="dropdown-element" href="">Образовательные программы</a>
                                            <div class="horiLine"></div>
                                            <a class="dropdown-element" href="">Классификаторы</a>
                                            <div class="horiLine"></div>
                                            <a class="dropdown-element" href="">Профориентационный тест</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="horiLine"></div>
                                <div class="dropdown-left2 dropdown-element ">
                                    <a class="mainmenubtn">Как поступить?</a>
                                    <div class="dropdown-left2-child" >
                                        <div class="grid">
                                            <a class="dropdown-element" href="">После колледжа</a>
                                            <div class="horiLine"></div>
                                            <a class="dropdown-element" href="">Платное отделение</a>
                                            <div class="horiLine"></div>
                                            <a class="dropdown-element" href="">Конкурс грантов</a>
                                            <div class="horiLine"></div>
                                            <a class="dropdown-element" href="">Журналистика</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="horiLine"></div>
                                <a class="dropdown-element" href="">Если я уже поступил?</a>
                                <div class="horiLine"></div>
                                <a class="dropdown-element" href="">Ориентационная неделя</a>
                            </div>
                        </div>
                    </div>
                    <div class="horiLine"></div>
                    <div class="dropdown-left dropdown-element ">
                        <a class="mainmenubtn">Магистратура</a>
                        <div class="dropdown-left-child" >
                            <div class="grid">
                                <a class="dropdown-element" href="">Куда можно поступить ?</a>
                                <div class="horiLine"></div>
                                <a class="dropdown-element" href="">Как поступить?</a>
                                <div class="horiLine"></div>
                                <a class="dropdown-element" href="">Если я уже поступил?</a>
                                <div class="horiLine"></div>
                                <a class="dropdown-element" href="">Ориентационная неделя</a>
                            </div>
                        </div>
                    </div>
                    <div class="horiLine"></div>
                    <a class="dropdown-element" href="">Докторантура</a>
                </div>
            </div>
        </div>
        <button class="header_block">Студентам</button>
        <button class="header_block">Кафедра</button>
        <button class="header_block">Библиотека</button> 
        <form action="/iitu_site/templates/contacts.html" >
            <button class="header_block">Контакты</button>
        </form>
        <button class="header_block">Блог Ректора</button>
        <button class="header_block language">RU</button>
    </div>

    <div class="content">
		<div class="business_card">
            <img src="/iitu_site/static/img/OIG (2).jpeg" alt="">
            <div id="business_text">
                <p>Студент, Группа IT2-2117</p>
                <p>Харлашин Владимир Константинович</p>
                <p>Добро пожаловать на мой новый сайт. 
                    
                    Ваше мнение очень важно для меня. Вместе мы можем сделать этот проект лучше. 
                    
                    Я обещаю, что каждый ваш вопрос и предложение будут тщательно рассмотрены. Ваш голос будет услышан, и вы можете быть уверены, что ваше мнение не останется без должного внимания!
                    
                    Спасибо за вашу проверку моего проекта.</p>
            </div>
        </div>
    </div>
    
    <div class="footer-container">
        <div class="footer-top">
        <div class="footer-images">
            <img src="../static/img/image 58logo.png" alt="">
            <div class="socnet">
                <img class="socnet-img" src="../static/img/Group 3722fb.svg" alt="">
                <img class="socnet-img" src="../static/img/Group 3723ig.svg" alt="">
                <img class="socnet-img" src="../static/img/Group 3724yt.svg" alt="">
                <img class="socnet-img" src="../static/img/Group 3725tg.svg" alt="">
                <img class="socnet-img" src="../static/img/Group 3726vk.svg" alt="">
            </div>
        </div>
        <ul class="contacts">
            <li>КОНТАКТЫ</li>
            <li><img class="no-bottom" src="../static/img/Group 3646mail.svg" alt="">info@iitu.kz</li>
            <li><img class="no-bottom" src="../static/img/Group 3643phone.svg" alt="">+7 (727) 244 51 03</li>
            <li><img class="no-bottom" src="../static/img/Group 3638location.svg" alt="">Манаса 34/1</li>
        </ul>
        <ul>
            <li>ОБ УНИВЕРСИТЕТЕ</li>
            <li>Приемная коммиссия</li>
            <li>Миссия и Стратегия</li>
            <li>COVID-19</li>
            <li>3D Tour</li>
        </ul>
        <ul>
            <li>СТУДЕНТАМ</li>
            <li>Студенческие организации</li>
            <li>Внутренняя Почта</li>
            <li>Ящик доверия</li>
            <li>dl</li>
        </ul>
        <ul>
            <li>СОТРУДНИЧЕСТВО</li>
            <li>Академическая мобильность</li>
            <li>Партнеры</li>
        </ul>
        </div>
        <div class="rights">Copyright All Rights Reserved 2022, International IT University</div>
    </div>
</body>
</html>